<div class="container">
  <p style="color: green"><%= notice %></p>
  <div class="p-5 my-4 bg-light rounded-3">
      <div class="d-flex  align-items-center justify-content-center">
        <h1 >Thank you for using Psychologist Scheduller</h1>
      </div>
      <p class="lead">In this app you can book your appointment with the doctor of your choice, you can also cancel the appointment if you cannot attend.</p>
      <% unless logged_in?%>
        <div class="d-flex  align-items-center justify-content-center">
          <%= link_to "Home", root_path, class: 'btn btn-outline-warning' %>
        </div>
      <% end %>
  </div>
</div>
