<div class="container-fluid">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">New block time</h1>
    <div class="col-lg-6 mx-auto">

      <%= render "form", block_time: @block_time %>
      <br>
      <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
        <%= link_to "Back to block times", block_times_path, class: 'btn btn-outline-secondary btn-lg px-4' %>
      </div>
    </div>
  </div>
</div>