<div id="<%= dom_id doctor %>">
  <p>
    <strong>Firstname:</strong>
    <%= doctor.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= doctor.lastname %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= doctor.phone %>
  </p>

</div>
