<div class="row g-1">
  <div class="col-6">
    <p><a class="btn btn-success btn-lg" href="<%= login_path %>" role="button">Login</a></p>
  </div>
   <div class="col-6">
    <p><a class="btn btn-success btn-lg" href="<%= signup_path %>" role="button">Signup</a></p>
  </div>
</div>